#app, html, body {
    background-color: black;
    color: white;
}
.header-image {
    visibility: hidden;
}
.container, .faq-container {
    background-image: linear-gradient(#000000, #000000) !important;
}